/* Adaptacion de boostrap a mi nav  */
.wrap{
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: url(woman.jpg) ;
    background-size:cover;
}
marquee{
     background-color: whitesmoke;
     color: rgb(160, 123, 123); 
 }
header{
    padding: 10px 0 ;
    font-size: 20px;
    position: fixed;
    margin: 5px;
    width: 100%;
    min-height: 60px;
    border-radius: 2px; 
}


#main {
    min-height: 800px;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#main > aside {
    margin: 5px;
    padding: 5px;
    border-radius: 2px;
    width: 40%;
    }
#main > nav {
        margin: 5px;
        padding: 5px;
        border-radius: 2px;
        width: 60%;   }
.formulary{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulary > input{

    padding: 5px;
    margin: 8px;
    width: 50vw;
    height: 10vh;
    opacity: .6;
    border: whitesmoke;
    
}  
.send_mail{
    width: 20vw;
    height: 10vh;    
    color: #ffffff;
    background-color: #94a5ad;
    border: 2px solid #565a79;
    border-radius: 8px;
    opacity: .7;
    }


footer{
    /* margin: 5px; */
    padding: 5px;
    min-height: 20px;
    border-radius: 2px;
    font-size: 40px;
    width: 100%;
    height: 10vh;
    display: flex;
}

.listF {
    display: flex;
    width: 100%;
    justify-content: space-around;
    }
    footer .listF li{
     list-style-type: none;
 }
  footer a {
    color: rgba(102, 109, 206, 0.801);
   text-decoration: none;
  }



  /* :hover */

  .send_mail:hover{
    color: #1883ba;
    background-color: #ffffff;
    
}