/* defino el contenedor de mi pagina */
.wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:url(woman.jpg);
    background-size:cover;
    opacity: .8;
}
/* header */
marquee{
     background-color: whitesmoke;
     color: rgb(160, 123, 123); 
 }
header{
    opacity: 1;
    padding: 10px;
    margin: 5px;
    width: 98%;
    min-height: 60px;
    height: 15vh;
    border-radius: 2px; 
    font-size: large;
}

#main {
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items:inherit;
    position: relative;
}
#main > nav {
    margin: 5px;
  
    padding: 5px;
    height: 90%;
    width: 60%;
 }

 /* caracteruisticas del carrusel de imagenes */
    .carrus {
        position: relative;
        padding: 5px;
      }
  
      .carrus > img {
        position: absolute;
        top: 100;
        opacity: 0;
        padding: 5px;
        margin-top: 10px;
        animation: display 10s infinite;
        height: 50%;
        width: 50%;
      }
#main > aside {
    margin: 5px;
    padding: 5px;
    border-radius: 2px;
    width: 40%;
    top: initial;
    }
  /* animatcion de los textos que contiene las caracteristicas de las imagenes */
  aside p{
    opacity: 0;
    animation: text 10s infinite;
  }
  /* El formulario para poder enviar contactos y/o datos  */
.formulary{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulary > input{

    padding: 5px;
    margin: 8px;
    width: 50vw;
    height: 10vh;
    opacity: .6;
    border: whitesmoke;
    
}  

.send_mail{
    width: 20vw;
    height: 10vh;    
    color: #ffffff;
    background-color: #94a5ad;
    border: 2px solid #565a79;
    border-radius: 8px;
    opacity: .5;    padding: 5px;
   
}   
nav h2{
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
    font-size: 25px;
    color: rgb(14, 13, 13);
    font-weight: bolder;

}
nav h3{
    opacity: 1;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(14, 13, 13);
}
nav p{
color: whitesmoke;
}

/* el footer */
footer{
    display: flex;
    align-items: center;
    width: 100%;
}

.listF {
    display: flex;
    width: 100%;
    justify-content: space-around;
    }
    footer .listF li{
     list-style-type: none;
 }
  footer a {
   
     width: 100vw;
    color: rgba(24, 24, 27, 0.801);
    font-size: 30px;
   text-decoration: none;
  }



  /* :hover y buttom */

  .send_mail:hover{
    color: #1883ba;
    background-color: #ffffff;
}
.wrap #main nav > .image:hover{
}

@keyframes display {
    0% {transform: translateX(200px);
      opacity: 0;}
    10% {transform: translateX(0);
      opacity: 1;}  
        20% {transform: translateX(0);
      opacity: 1;}
    30% {transform: translateX(-200px);
      opacity: 0;}
    100% {transform: translateX(-200px);
      opacity: 0;}
  }
      
  img:nth-child(2) {animation-delay: 2s;}
  img:nth-child(3) {animation-delay: 4s;}
  img:nth-child(4) {animation-delay: 6s;}
  img:nth-child(5) {animation-delay: 8s;}

  /* text aniamtion  */

  @keyframes text {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    30% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

      
  p:nth-child(2) {
    animation-delay: 2s;
  }
  p:nth-child(3) {
    animation-delay: 4s;
  }
  p:nth-child(4) {
    animation-delay: 6s;
  }
  p:nth-child(5) {
    animation-delay: 8s;
  }